:root {
  --yellow: #feda00;
  --green: #0ab14d;
  --brown: #571b10;
}

html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bolder;
  font-family: "Poppins", sans-serif !important;
}

a {
  font-weight: bolder !important;
  font-family: "Poppins", sans-serif !important;
}

p {
  margin: 0;
}
